.letter-logo {
    width: 120px;
    height: 120px;
}

.letterContainer {
    background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 107%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.letterparent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.letterDetails {
    display: flex;
    align-items: center;
    flex-direction: column;
    order: 1;
}
.heading{
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
    font-size: '24px';
    color:#ffffff;
}
.letters-count {
    align-self: center;
    color: #219a6f;
    background-color: #ffffff;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    margin-top: 32px;
    padding: 18px;
    padding-right: 24px;
    padding-left: 24px;
  }

.letters-input {
    color: #ffffff;
    background-color: transparent;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #e4e7eb;
    border-radius: 4px;
    margin-top: 8px;
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    outline: none;
  }
  .image-section {
    display: flex;
    justify-content: center;
    order: 0;
  }